name: Github Actions for dummy-service
run-name: Build and deploy dummy-service
on:
    push: 
        branches: [ main ]
        paths-ignore:
            - ".github/workflows/*"
        tags:
            - 'v*'

env:
  REGISTRY: ghcr.io
  REPOSITORY: marko-nlb
  IMAGE_NAME: dummy-service
  SERVICE: dummy-service

permissions:
  contents: read

jobs:
    build-and-push-image:
        name: Build and push image
        runs-on: ubuntu-latest
        outputs:
            image_version: ${{ steps.version.outputs.image_version }}
        permissions:
            id-token: write
            packages: write
            contents: read
            attestations: write
        steps:
            - name: Checkout
              uses: actions/checkout@v6

            - name: Extract metadata
              id: meta
              uses: docker/metadata-action@v5
              with:
                images: ${{ env.REGISTRY }}/${{ env.REPOSITORY }}/${{ env.IMAGE_NAME}}
                tags: |
                    type=semver,pattern={{version}}
                    type=sha
                    type=raw,value=${{ github.ref_name }}-${{ github.run_number }}-${{ github.run_attempt }}
            
            - name: Login to registry
              uses: docker/login-action@v3
              with:
                registry: ${{ env.REGISTRY }}
                username: ${{ github.actor }}
                password: ${{ secrets.GITHUB_TOKEN }}

            - name: Build and push
              id: build-and-push
              uses: docker/build-push-action@v6
              with:
                context: .
                push: true
                file: ./Dockerfile
                #tags: ${{ env.REGISTRY}}/${{ env.REPOSITORY }}/${{ env.IMAGE_NAME}}:${{ steps.version.outputs.version }}
                tags: ${{ steps.meta.outputs.tags }}
                labels: ${{ steps.meta.outputs.labels }}
            
            - name: Extract sha version
              id: version
              run: |
                SHA_VER=$(echo "${{ steps.meta.outputs.tags }}" | grep ':sha-' | head -n1 | cut -d: -f2)
                if [ -z "$SHA_VER" ]; then
                    echo "ERROR: No sha tag found in metadata output"
                    echo "${{ steps.meta.outputs.tags }}"
                    exit 1
                fi
                echo "image_version=$SHA_VER" >> "$GITHUB_OUTPUT" 
            
            - name: Attest
              uses: actions/attest-build-provenance@v3
              id: attest
              with:
                subject-name: ${{ env.REGISTRY}}/${{ env.REPOSITORY }}/${{ env.IMAGE_NAME}}
                subject-digest: ${{ steps.build-and-push.outputs.digest }}
                push-to-registry: true
    
    start-container:
        name: Start container 
        needs: build-and-push-image
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v6

            #- name: Pull image
            #  run: docker pull ${{ env.REGISTRY}}/${{ env.REPOSITORY }}/${{ env.IMAGE_NAME}}:${{ needs.build-and-push-image.outputs.image_version }}
            - name: Login to registry
              uses: docker/login-action@v3
              with:
                registry: ${{ env.REGISTRY }}
                username: ${{ github.actor }}
                password: ${{ secrets.GITHUB_TOKEN }}
            
            #- name: Pull image
            #  env: 
            #    IMAGE_VERSION: ${{ needs.build-and-push-image.outputs.image_version }} 
            #  run: docker compose -f docker-compose.yaml -f docker-compose.gha.yaml pull

            - name: Start
              env: 
                IMAGE_VERSION: ${{ needs.build-and-push-image.outputs.image_version }} 
              run: docker compose -f docker-compose.yaml -f docker-compose.gha.yaml up -d
            
            - name: Wait for running
              env: 
                IMAGE_VERSION: ${{ needs.build-and-push-image.outputs.image_version }} 
              run: |
                for i in {1..60}; do
                    STATUS=$(docker inspect --format='{{.State.Status}}' ${{ env.SERVICE }} 2>/dev/null)
                    echo "Container is $STATUS"
                    if [ "$STATUS" = "running" ]; then
                        break
                    fi
                    if [ "$STATUS" = "exited" ] || [ "$STATUS" = "dead" ]; then
                        echo "Container crashed"
                        docker compose -f docker-compose.yaml -f docker-compose.gha.yaml logs
                        exit 1
                    fi
                    sleep 2
                done
            
            - name: Health check
              env: 
                IMAGE_VERSION: ${{ needs.build-and-push-image.outputs.image_version }} 
              run: |
                for i in {1..60}; do
                    RES=$(curl -fsS http://localhost:8000/health | jq -r '.health')
                    if [ "$RES" = "OK" ]; then
                        echo "Service ready: $RES"
                        exit 0
                    fi
                    sleep 2
                done
                echo "Service not ready!"
                docker compose -f docker-compose.yaml -f docker-compose.gha.yaml logs
                exit 1

