name: Github Actions for dummy-service
run-name: Build and deploy dummy-service
on:
    push: 
        branches:
            - main
        tags:
            - 'v*'

env:
  REGISTRY: ghcr.io
  REPOSITORY: kastelicma
  IMAGE_NAME: dummy-service

jobs:
    build-and-push-image:
        runs-on: ubuntu-latest
        outputs:
            version: ${{ steps.version.outputs.version }}
        permissions:
            packages: write
            contents: read
        steps:
            - name: Checkout
              uses: actions/checkout@v6

            - name: Compute version
              id: version
              shell: bash
              run: |
                COUNT="$(git rev-list --count HEAD)"
                VERSION="0.1.${COUNT}"
                echo "version=$VERSION" >> "$GITHUB_OUTPUT"

            - name: Login to GHCR
              uses: docker/login-action@v3
              with:
                registry: ${{ env.REGISTRY }}
                username: ${{ github.actor }}
                password: ${{ secrets.GITHUB_TOKEN }}

            - name: Build and push
              uses: docker/build-push-action@v6
              with:
                context: .
                push: true
                file: ./Dockerfile
                tags: ${{ env.REGISTRY}}/${{ env.REPOSITORY }}:${{ steps.version.outputs.version }}

