name: Github Actions for dummy-service
run-name: Build and deploy dummy-service
on:
    push: 
        branches:
            - main
        tags:
            - 'v*'

env:
  REGISTRY: ghcr.io
  REPOSITORY: kastelicma
  IMAGE_NAME: dummy-service

jobs:
    build-and-push-image:
        name: Build and push image
        runs-on: ubuntu-latest
        outputs:
            image_version: ${{ steps.version.outputs.image_version }}
        permissions:
            packages: write
            contents: read
        steps:
            - name: Checkout
              uses: actions/checkout@v6

            - name: Extract metadata
              id: meta
              uses: docker/metadata-action@v5
              with:
                images: ${{ env.REGISTRY }}/${{ env.REPOSITORY }}/${{ env.IMAGE_NAME}}
                tags: |
                    type=semver,pattern={{version}}
                    type=sha
                    type=raw,value=${{ github.ref_name }}-${{ github.run_number }}-${{ github.run_attempt }}
            
            - name: Login to registry
              uses: docker/login-action@v3
              with:
                registry: ${{ env.REGISTRY }}
                username: ${{ github.actor }}
                password: ${{ secrets.GITHUB_TOKEN }}

            - name: Build and push
              uses: docker/build-push-action@v6
              with:
                context: .
                push: true
                file: ./Dockerfile
                #tags: ${{ env.REGISTRY}}/${{ env.REPOSITORY }}/${{ env.IMAGE_NAME}}:${{ steps.version.outputs.version }}
                tags: ${{ steps.meta.outputs.tags }}
                labels: ${{ steps.meta.outputs.labels }}
            
            - name: Extract sha version
              id: version
              run: |
                SHA_VER=$(echo "${{ steps.meta.outputs.tags }}" | grep ':sha-' | head -n1 | cut -d: -f2)
                if [ -z "$SHA_VER" ]; then
                    echo "ERROR: No sha tag found in metadata output"
                    echo "${{ steps.meta.outputs.tags }}"
                    exit 1
                fi
                echo "image_version=$SHA_VER" >> "$GITHUB_OUTPUT" 
    
    start-container:
        name: Start container 
        needs: build-and-push-image
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v6

            #- name: Pull image
            #  run: docker pull ${{ env.REGISTRY}}/${{ env.REPOSITORY }}/${{ env.IMAGE_NAME}}:${{ needs.build-and-push-image.outputs.image_version }}
            - name: Login to registry
              uses: docker/login-action@v3
              with:
                registry: ${{ env.REGISTRY }}
                username: ${{ github.actor }}
                password: ${{ secrets.GITHUB_TOKEN }}
            
            #- name: Pull image
            #  env: 
            #    IMAGE_VERSION: ${{ needs.build-and-push-image.outputs.image_version }} 
            #  run: docker compose -f docker-compose.yaml -f docker-compose.gha.yaml pull

            - name: Start
              env: 
                IMAGE_VERSION: ${{ needs.build-and-push-image.outputs.image_version }} 
              run: docker compose -f docker-compose.yaml -f docker-compose.gha.yaml up -d
            
            - name: Wait for ready
              run: |
                for i in {1..60}; do
                    STATUS=$(docker inspect --format='{{json .State.Health.Status}}' ${{ env.IMAGE_NAME }} 2>/dev/null)
                    echo "Health: $STATUS"
                    if [ "$STATUS" = "healthy" ]; then
                        exit 0
                    fi
                    if [ "$STATUS" = "unhealthy" ]; then
                        docker compose logs
                        exit 1
                    fi
                    sleep 2
                done

                echo "Waiting too long for healthy"
                docker compose logs
                exit 1
            
            - name: Health check
              run: |
                res=$(curl -fsS http://localhost:8000/health | jq -r '.health')
                if [ "$res" != "OK" ]; then
                    echo "Health check failed!"
                    exit 1
                fi
                echo "Health check $res"

