name: Github Actions for dummy-service
run-name: ${{ github.actor }}
on:
    push: 
        branches:
            - main

jobs:
    Build-dummy-service:
        runs-on: ubuntu-latest
        steps:
            - run: echo "The job was triggered by ${{ github.event_name }}"
            - run: echo "This job is running on ${{ runner.os }}"
            - name: Check out repository code
              uses: actions/checkout@v5
            - run: echo "The ${{ github.repository }} has been cloned to the runner."
            - name: List files in the repository
              run: |
                ls ${{ github.workspace }}

